@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: FrauncesItalic;
  src: url("./assets/fonts/Fraunces_72pt-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Fraunces;
  src: url("./assets/fonts/Fraunces_72pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: InterMedium;
  src: url("./assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: InterSemiBold;
  src: url("./assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
}

@theme {
  /* COLORS */
  --color-PrimaryDarkBgColor: #25262a;
  --color-SecondaryDarkBgColor: #1d1e21;
  --color-TertiaryDarkBgColor: #1f2024;
  --color-PrimaryColor: #dce0e4;
  --color-SecondaryColor: #8d939a;
  --color-TertiaryColor: #f5435a;
  --color-InputBg: #1d1e21;
  --color-DisabledBtnBg: #383940;
  --color-HoverBtnBg: #fc2d48;
  --color-OnlineBgColor: #46d39a;

  /* FONTS */
  --font-ItalicFont: "FrauncesItalic";
  --font-TitleFont: "Fraunces";
  --font-PrimaryMediumFont: "InterMedium";
  --font-PrimaryFont: "Inter";
  --font-PrimarySemiBoldFont: "InterSemiBold";

  /* SHAPE AND SIZE */
  --radius-InputRadius: 14px;
  --container-Form: 30rem;
  --container-Modal: 40rem;
  --container-App: 75rem;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-color: var(--color-PrimaryDarkBgColor);
}
